nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


.section {
    display: none;
    padding: 20px;
    margin-top: 50px;
}

.section.active {
    display: block;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}